@use '../../styles/colors' as *;

.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  &:hover {
    opacity: 0.8;
  }
}

.small {
  padding: 8px 16px;
  font-size: 12px;
}
.medium {
  padding: 10px 20px;
  font-size: 14px;
}
.large {
  padding: 12px 24px;
  font-size: 16px;
}

.contained {
  background-color: $primary-color;
  color: $white;
  box-shadow: 0px 4px 6px $shadow-color;
}

.outlined {
  background-color: transparent;
  color: $primary-color;
  border: 2px solid $primary-color;
}

.text {
  background-color: transparent;
  color: $primary-color;
  border: none;
}

.text:hover {
  background-color: $background-hover-color;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    opacity: 0.2;
  }
}
