$white: #ffffff;
$black: #000000;

$primary-color: #0073e6;
$secondary-color: #f1f1f1;
$error-color: #ff6347;
$default-color: #979393;
$primary-inactive-color: #0073e678;

$inactive-color: #ccc;

$background-input-color: #f5f0f0;
$input-text-color: #333;
$label-text-color: $input-text-color;

$background-primary-color: #f5f5f5;
$background-hover-color: #bdbdbd;

$shadow-color: rgba(0, 0, 0, 0.2);
$background-modal: rgba(0, 0, 0, 0.3);
$background-overlay: rgba(0, 0, 0, 0.5);
