$primary-color: #0073e6;
$secondary-color: #f1f1f1;
$accent-color: #ff6347;

// Нейтральные цвета
$white: #ffffff;
$black: #000000;

// Цвета для фона
$background-primary-color: #f5f5f5;
$background-hover-color: #c3b8b8;
